html, body, header
	margin: 0
	padding: 0

$dgray: rgb(38, 38, 38)
$skyblue: rgb(40, 82, 135)

body
	font-family: 'Open sans', Sans-Serif
	-webkit-font-smoothing: antialiased

// header and navigation styling
header
	background: $dgray
	color: #fff
header::selection, .nav
	background: transparent
.nameTitle
	width: 200px
	display: inline-block
	padding: 1em
.name, .title
	display: block
	width: 200px
.name
	font-size: 2.2em
.title
	font-size: 1.8em
	color: $skyblue
	font-weight: 700
.sm-caps
	font-variant: small-caps
.nav
	float: right
	margin: .5em 1em
	display: inline-block
	font-size: 2em
	transition: -webkit-transform .1s linear
.nav:hover
	cursor: pointer
.rotate
	-webkit-transform: rotate(90deg)
nav
	display: block
	width: 100%
	ul
		display: block
		overflow: hidden
		opacity: 0
		height: 0
		padding: 0
		list-style: none
		width: 100%
		margin: 0
		transition: opacity .3s linear
	li
		border-top: 2px solid darken($skyblue, 15%)
		width: 100%
		text-align: center
		background: lighten($dgray, 10%)
	li:hover
		background: lighten($dgray, 15%)
	a
		color: #eee
		font-size: 1.2em
		text-decoration: none
		padding: 1em
		display: block
.open-nav
	height: auto
	opacity: 1


// main body styling
.main
	padding: 1em
	background: #ddd
article
	h3
		color: darken($dgray, 25%)
	a
		color: $skyblue
	img
		width: 90%
		border-radius: .2em
		max-width: 31.25em
		text-align: center
		margin-bottom: 1em









footer
	background: $dgray
	color: #fff
	padding: .5em 1em
	span
		float: right
	a
		color: $skyblue
		text-decoration: none