html, body, header
	margin: 0
	padding: 0

$dgray: rgb(38, 38, 38)
$skyblue: rgb(40, 82, 135)

html, body 
	padding: 0
	margin: 0
	height: 100%
body
	font-family: 'Open sans', Sans-Serif
	-webkit-font-smoothing: antialiased
// header and navigation styling
header
	background: $dgray
	color: #fff
header::selection, .nav
	background: transparent
.nameTitle
	display: inline-block
	padding: 1em
	a
		color: #fff
		text-decoration: none
.name, .title
	display: block
.name
	font-size: 2.2em
.title
	font-size: 1.8em
	color: $skyblue
	font-weight: 700
.sm-caps
	font-variant: small-caps
.nav
	position: absolute
	right: 1em
	top: .5em
	font-size: 2em
	transition: -webkit-transform .1s linear
	img
		width: 1.2em
		margin-top: 0.5em

.nav:hover
	cursor: pointer
.rotate
	-webkit-transform: rotate(90deg)
nav
	display: block
	width: 100%
	ul
		display: block
		background: lighten($dgray, 10%)
		overflow: hidden
		opacity: 0
		height: 0
		padding: 0
		list-style: none
		width: 100%
		margin: 0
		transition: opacity 0.3s linear
	li
		border-top: 2px solid darken($skyblue, 15%)
		width: 100%
		text-align: center
		background: lighten($dgray, 10%)
	li:hover
		background: lighten($dgray, 15%)
	a
		color: #eee
		font-size: 1.2em
		text-decoration: none
		padding: 1em
		display: block
input, textarea
	display: block
	margin: 0.5em auto
	width: 13em
	font-size: 1em
	border-radius: 0.2em
	border: none
	padding: 0.2em

input:focus, textarea:focus
	outline: darken($skyblue, 15%)
textarea
	resize: none
	height: 5em
.open-nav
	height: auto
	opacity: 1
#submit
	width: 9.375em
	background: darken($skyblue, 15%)
	color: #fff
	border: none

.code
	white-space: pre


// main body styling
.main
	padding: 1em
	min-height: 90.8%
	background: #eee
	a
		color: darken($skyblue, 10%)
article
	max-width: 31.25em
	margin: 1em auto 3em
	h3
		color: darken($dgray, 25%)
	a
		color: darken($skyblue, 10%)
	img
		width: 90%
		border-radius: 0.2em
		max-width: 31.25em
		text-align: center
		margin-bottom: 1em
	p 
		margin-top: 0
.imp
	color: $skyblue
.italic
	font-style: italic
code
	white-space: normal

//work viewports
.sm-vp
	width: 40%
.med-vp
	width: 70%
.lg-vp
	max-width: 475px
footer
	background: $dgray
	color: #fff
	padding: 0.5em 1em

	span
		float: right
	a
		color: $skyblue
		text-decoration: none


@media screen and (min-width: 50em)
	header
		width: 30%
		max-width: 22.5em
		position: fixed
		height: 100%
		left: 0
		display: block
	.nameTitle
		background: $dgray
		height: 6.25em
	.nav
		display: none
	nav
		height: 100%
		background: lighten($dgray, 10%)
		ul
			opacity: 1
			height: 100%
	.main
		padding-left: 30%
	article
		margin-left: 2em
	#backToTop
		display: none
	footer
		padding-left: 32%
