html, body, header
	margin: 0
	padding: 0

$skyblue: rgb(40, 82, 135)

body
	font-family: 'Open sans', Sans-Serif
	-webkit-font-smoothing: antialiased
header
	background: rgb(38, 38, 38)
	color: #fff
	padding: 1em
.name, .title
	display: block
.name
	font-size: 2.2em
.title
	font-size: 1.8em
	color: $skyblue
	font-weight: 700
.sm-caps
	font-variant: small-caps
.nav
	float: right
	display: inline-block
nav
	display: inline-block
	ul
		height: 0
	a
		color: #eee
		text-decoration: none
		
